<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VOID</title>
    <link   rel="stylesheet" href="/css/indexStyle.css">
    <link   rel="stylesheet" href="/css/normalize.css">
    <link   rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>
    <header class="container-header" id="container-head">
        <div class="container-hero">

            <div class="container-menu-movil" id="container-menu-bars-icon">
                <i class=" fa-solid fa-bars"></i>
            </div>

            <div class="container-logo">
                <a href=""><img class="logo-home" src="/img/logo-1.png" alt=""></a>
                <ul class="container-nav">
                    <li><a href="#men" class="header-selector-1">HOMBRES</a></li>
                    <li><a href="#women" class="header-selector-2">MUJERES</a></li>
                    <li><a href="#accessories" class="header-selector-3">ACCESORIOS</a></li>
                </ul>
            </div>

            <div class="container-user">
                <div class="container-heart">
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                </div>
                <a href=""><i class=" fa-solid fa-user"></i></a>
                <div class="container-shopping-cart">
                    <i class="fa-solid fa-cart-shopping " id="shopping-cart"></i>
                </div>
            </div>
        </div>
        <div class="hidden" id="container-menu-bars">
            <div class="container-menu-bars">
                <ul class="menu-bars">
                    <div class="menu-bars-links">
                        <i class="fa-solid fa-circle fa-2xs"></i>
                        <li><a href="#men" class="menu-selector-1">HOMBRES</a></li>
                    </div>
                    <div class="menu-bars-links">
                        <i class="fa-solid fa-circle fa-2xs"></i>
                        <li><a href="#women" class="menu-selector-2">MUJERES</a></li>
                    </div>
                    <div class="menu-bars-links">
                        <i class="fa-solid fa-circle fa-2xs"></i>
                        <li><a href="#accessories" class="menu-selector-3">ACCESORIOS</a></li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="hidden" id="toggle-shopping-cart">
            <div class="shopping-cart-on">
                <h2>TU CARRITO</h2>
                <div class="container-products">
                    <div class="shopping-cart-product">
                        <div class="shopping-cart-img">
                            <img src="/img/remera-prueba.jpg" alt="">
                        </div>
                        <div class="container-specs">
                            <h4>REMERA VOID BLANCA</h4>
                            <h5>US$30</h5>
                        </div>
                    </div>
                    <div class="shopping-cart-product">
                        <div class="shopping-cart-img">
                            <img src="/img/remera-prueba.jpg" alt="">
                        </div>
                        <div class="container-specs">
                            <h4>REMERA VOID BLANCA</h4>
                            <h5>US$30</h5>
                        </div>
                    </div>
                </div>
                <form action="" class="form-shopping-cart">

                    <div class="shopping-cart-product-process">
                        <div class="container-summary subtotal">
                            <label for="subtotal-num">SUBTOTAL</label>
                            <input type="number" name="subtotal-num" id="" required>
                        </div>
                        <div class="container-summary shipping">
                            <label for="shipping-num">ENVIO</label>
                            <input type="number" name="shipping-num" id="" required>
                        </div>
                        <div class="container-summary total">
                            <label for="total-num">TOTAL</label>
                            <input type="number" name="total-num" id="" required>
                        </div>
                    </div>
                    <button type="submit">COMPRAR</button>
                </form>
            </div>
        </div>
    </header>
    <section class="container-main">
        <div class="img-home">
            <img src="/img/home-img.jpg" alt="">
        </div>

        <h4 id="men">MEN</h4>
        <div class="container-carrousel">
            <img src="/img/remera-prueba.jpg" alt="">
            <img src="/img/remera-prueba.jpg" alt="">
            <img src="/img/remera-prueba.jpg" alt="">
        </div>
        <div class="container-advice">
            <div class="container-letter">
                <h5>WE MADE YOUR EVERYDAY
                    FASHION BETTER!</h5>
                <p>COMING SOON</p>
                <button>Shop Now</button>
            </div>

        </div>

        <h4 id="women">WOMEN</h4>
        <div class="container-carrousel">
            <img src="/img/remera-prueba.jpg" alt="">
            <img src="/img/remera-prueba.jpg" alt="">
            <img src="/img/remera-prueba.jpg" alt="">
        </div>
        <div class="container-advice background-img">
            <div class="container-letter">
                <h5>VOID X GYMSHARK</h5>
                <p>COMING SOON</p>
                <button>Pre Order</button>
            </div>
        </div>
        </div>
        <h4 id="accessories">ACCESORIOS</h4>
        <div class="container-carrousel">
            <img src="/img/remera-prueba.jpg" alt="">
            <img src="/img/remera-prueba.jpg" alt="">
            <img src="/img/remera-prueba.jpg" alt="">
        </div>
        </div>
    </section>
    <footer>
        <div class="container-footer">
            <div class="container-links">
                <div class="container-social">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-discord"></i></a>
                </div>

                <div class="container-contacts">
                    <div class="container-terms">
                        <H4>INFO</H4>
                        <ul>
                            <li><a href="">Terminos y condiciones</a></li>
                            <li><a href="">Terminos de uso</a></li>
                            <li><a href="">Politica de privacidad</a></li>
                            <li><a href="">Politica de compra</a></li>
                            <li><a href="">Politica de Cookies</a></li>
                        </ul>

                    </div>
                    <div class="container-help">
                        <H4>HELP</H4>
                        <ul>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Track Order</a></li>
                            <li><a href="">Returns & Refunds</a></li>
                            <li><a href="">FAQS</a></li>
                            <li><a href="">Career</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="container-copyrights">
            <p>Copyright © 2024 VOID Ltd. All rights reserved.</p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/6e8142624e.js" crossorigin="anonymous"></script>
    <script src="/javascripts/index.js"></script>
</body>

</html>